In [1]:
import pandas as pd

In [2]:
# CSV files
# pop_density+n_tweets_by_wards_hours_2015_01_05_18.csv
# tweets_by_hours_London_wards_2014_12_01_21.csv
# tweets_by_hours_London_wards_2014_12_22_2015_01_11.csv

In [10]:
tweets_all = pd.read_csv("./data/tweets_all.csv", encoding="latin1")

In [11]:
tweets_all.head()

,id,Name,X,Y,LONGITUDE,LATITUDE,MESSAGEDATE,USERID,USERSCREENNAME,MESSAGETEXT,LOCATION,HASHTAGS,ISRETWEET
0,550226818624942080,NaN,-0.262150,51.391407,-0.262150,51.391407,31/12/2014 09:47:50,113918054,12Elbestreet,@julieo25 Not yet got tics for Liverpool waiti...,Kingston upon Thames; London,NaN,0
1,550226823314178048,NaN,-0.149466,51.492560,-0.149466,51.492561,31/12/2014 09:47:52,465989904,alice_foster_95,So. Many. Accents #alicesadventureswithmegabus,London; England,alicesadventureswithmegabus,0
2,550226827944660992,NaN,-0.014891,51.354042,-0.014891,51.354042,31/12/2014 09:47:53,55872342,MissGee_Pee,If it doesn't make you happy by December 31st....,New Addington; London,NaN,0
3,550226837537058816,NaN,0.006698,51.532020,0.006698,51.532021,31/12/2014 09:47:55,147266450,vinita_ramtri,@westfieldstrat thanks; and are you open tomor...,Stratford; London,NaN,0
4,550227214227505152,NaN,0.214417,51.582535,0.214417,51.582535,31/12/2014 09:49:25,518928608,CallumGordon7,@WestHam_Central but he is,Romford; London,NaN,0

In [12]:
tweets_all.shape

(119850, 13)

In [13]:
london_tweets = tweets_all[tweets_all.LOCATION.str.contains("London")]

In [14]:
london_tweets.shape

(106550, 13)

In [16]:
london_tweets.to_csv("./data/london_tweets.csv", index=False)

In [28]:
london_tweets.head()

,id,Name,X,Y,LONGITUDE,LATITUDE,MESSAGEDATE,USERID,USERSCREENNAME,MESSAGETEXT,LOCATION,HASHTAGS,ISRETWEET
0,550226818624942080,NaN,-0.262150,51.391407,-0.262150,51.391407,31/12/2014 09:47:50,113918054,12Elbestreet,@julieo25 Not yet got tics for Liverpool waiti...,Kingston upon Thames; London,NaN,0
1,550226823314178048,NaN,-0.149466,51.492560,-0.149466,51.492561,31/12/2014 09:47:52,465989904,alice_foster_95,So. Many. Accents #alicesadventureswithmegabus,London; England,alicesadventureswithmegabus,0
2,550226827944660992,NaN,-0.014891,51.354042,-0.014891,51.354042,31/12/2014 09:47:53,55872342,MissGee_Pee,If it doesn't make you happy by December 31st....,New Addington; London,NaN,0
3,550226837537058816,NaN,0.006698,51.532020,0.006698,51.532021,31/12/2014 09:47:55,147266450,vinita_ramtri,@westfieldstrat thanks; and are you open tomor...,Stratford; London,NaN,0
4,550227214227505152,NaN,0.214417,51.582535,0.214417,51.582535,31/12/2014 09:49:25,518928608,CallumGordon7,@WestHam_Central but he is,Romford; London,NaN,0

In [15]:
london_tweets["DATETIME"] = pd.to_datetime(london_tweets.MESSAGEDATE, format="%d/%m/%Y %H:%M:%S")

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [30]:
london_tweets.head()

,id,Name,X,Y,LONGITUDE,LATITUDE,MESSAGEDATE,USERID,USERSCREENNAME,MESSAGETEXT,LOCATION,HASHTAGS,ISRETWEET,DATETIME
0,550226818624942080,NaN,-0.262150,51.391407,-0.262150,51.391407,31/12/2014 09:47:50,113918054,12Elbestreet,@julieo25 Not yet got tics for Liverpool waiti...,Kingston upon Thames; London,NaN,0,2014-12-31 09:47:50
1,550226823314178048,NaN,-0.149466,51.492560,-0.149466,51.492561,31/12/2014 09:47:52,465989904,alice_foster_95,So. Many. Accents #alicesadventureswithmegabus,London; England,alicesadventureswithmegabus,0,2014-12-31 09:47:52
2,550226827944660992,NaN,-0.014891,51.354042,-0.014891,51.354042,31/12/2014 09:47:53,55872342,MissGee_Pee,If it doesn't make you happy by December 31st....,New Addington; London,NaN,0,2014-12-31 09:47:53
3,550226837537058816,NaN,0.006698,51.532020,0.006698,51.532021,31/12/2014 09:47:55,147266450,vinita_ramtri,@westfieldstrat thanks; and are you open tomor...,Stratford; London,NaN,0,2014-12-31 09:47:55
4,550227214227505152,NaN,0.214417,51.582535,0.214417,51.582535,31/12/2014 09:49:25,518928608,CallumGordon7,@WestHam_Central but he is,Romford; London,NaN,0,2014-12-31 09:49:25

In [38]:
for location in london_tweets.LOCATION.unique():
    print(location)

Kingston upon Thames; London
London; England
New Addington; London
Stratford; London
Romford; London
Camberwell; London
Hackney; London
Croydon; London
Wandsworth; London
East Ham; London
Paddington; London
Bexley; London
Kensington; London
Islington; London
Hillingdon; London
Camden Town; London
Barnet; London
Hounslow; London
City of London; London
Ealing; London
Lambeth; London
Walthamstow; London
Poplar; London
Harrow; London
Bromley; London
Crayford; London
Ilford; London
Brent; London
Eltham; London
Richmond; London
Enfield; London
Greenwich; London
Sutton; London
Lewisham; London
Hammersmith; London
Barking; London
Tottenham; London
Merton; London
Southall; London
Harefield; London
Downe; London
Biggin Hill; London
Hazlewood; London
Keston; London
Pratts Bottom; London
Westerham; London

In [40]:
london_tweets.LOCATION.unique().size

46

In [56]:
london_tweets.groupby("USERID").agg("count")

USERID
5260           1
12249          1
12294          4
12329          1
13536          2
13550          1
13697          1
15633          1
17633          2
19833          1
20693          3
31253          7
33943          1
48213          2
54893          3
55143         10
64623          4
72573          6
615743         1
620333        41
625893        12
638513         6
652193        13
681673         1
702613         1
751593         1
754966         1
755973         1
777993         3
786491        26
              ..
2951844964     9
2951897345     1
2952096059     3
2952246365    63
2952253457     1
2952356919     1
2952368530     3
2952937811     4
2953209717     1
2953363731     4
2953593267     1
2953643266     1
2953927781     5
2953940476     3
2953985985     1
2954073310     1
2954744128     1
2954764245     2
2954774374     5
2954807577     2
2954947847     3
2955320986    10
2955404307     1
2955562239     2
2955580871     1
2955617320     2
2955642057     7
2955717071     1
2955808031     1
2955928935     1
Name: id, Length: 21777, dtype: int64

In [42]:
london_tweets[london_tweets.USERID == 465989904]

,id,Name,X,Y,LONGITUDE,LATITUDE,MESSAGEDATE,USERID,USERSCREENNAME,MESSAGETEXT,LOCATION,HASHTAGS,ISRETWEET,DATETIME
1,550226823314178048,NaN,-0.149466,51.492560,-0.149466,51.492561,31/12/2014 09:47:52,465989904,alice_foster_95,So. Many. Accents #alicesadventureswithmegabus,London; England,alicesadventureswithmegabus,0,2014-12-31 09:47:52
9,550227982095482880,NaN,-0.149511,51.492496,-0.149511,51.492496,31/12/2014 09:52:28,465989904,alice_foster_95,...and he's started talking to me. Clearly not...,London; England,alicesadventureswithmegabus,0,2014-12-31 09:52:28
2312,550227120765796352,NaN,-0.149431,51.492657,-0.149431,51.492657,31/12/2014 09:49:02,465989904,alice_foster_95,And the guy next to me stinks of fags. Wonderf...,London; England,alicesadventureswithmegabus,0,2014-12-31 09:49:02
2541,550230745533657088,NaN,-0.161403,51.486214,-0.161403,51.486214,31/12/2014 10:03:27,465989904,alice_foster_95,And we're off #alicesadventureswithmegabus,Kensington; London,alicesadventureswithmegabus,0,2014-12-31 10:03:27
3170,550211367249403904,NaN,-0.047870,51.414207,-0.047870,51.414207,31/12/2014 08:46:27,465989904,alice_foster_95,Gotta love catching the commuter train,Bromley; London,NaN,0,2014-12-31 08:46:27

In [59]:
london_tweets[~london_tweets.HASHTAGS.isnull()]

,id,Name,X,Y,LONGITUDE,LATITUDE,MESSAGEDATE,USERID,USERSCREENNAME,MESSAGETEXT,LOCATION,HASHTAGS,ISRETWEET,DATETIME
1,550226823314178048,NaN,-0.149466,51.492560,-0.149466,51.492561,31/12/2014 09:47:52,465989904,alice_foster_95,So. Many. Accents #alicesadventureswithmegabus,London; England,alicesadventureswithmegabus,0,2014-12-31 09:47:52
7,550227602011856896,NaN,-0.104869,51.509530,-0.104869,51.509529,31/12/2014 09:50:57,151094999,HevnKISZ,@JJJ_Jeeppy >> # XD,Camberwell; London,,0,2014-12-31 09:50:57
9,550227982095482880,NaN,-0.149511,51.492496,-0.149511,51.492496,31/12/2014 09:52:28,465989904,alice_foster_95,...and he's started talking to me. Clearly not...,London; England,alicesadventureswithmegabus,0,2014-12-31 09:52:28
14,550228347239034880,NaN,-0.163065,51.500072,-0.163065,51.500072,31/12/2014 09:53:55,572713352,arabtaxilondon,# # # ...,London; England,,0,2014-12-31 09:53:55
18,550228719391232000,NaN,-0.208465,51.516144,-0.208465,51.516144,31/12/2014 09:55:24,340444437,WGoold,@CapitalOfficial Happy New Year!!#boom #HappyN...,Kensington; London,boom HappyNewYear,0,2014-12-31 09:55:24
31,550229822233137153,NaN,-0.159024,51.512875,-0.159024,51.512875,31/12/2014 09:59:47,365056827,Hend119,' ! ...,London; England,London HydePark ParkLane Mayfair,0,2014-12-31 09:59:47
34,550230122817921025,NaN,-0.262078,51.516514,-0.262078,51.516514,31/12/2014 10:00:58,78425699,natinstablog,NEW POST!!! ft. tomasthurzo & @2indahou...,Ealing; London,pf2015,0,2014-12-31 10:00:58
37,550230484979310593,NaN,-0.134583,51.510036,-0.134583,51.510036,31/12/2014 10:02:25,279697048,maxruswell,#picadillycircus #london #ruswellandholidays @...,London; England,picadillycircus london ruswellandholidays,0,2014-12-31 10:02:25
46,550231670881021952,NaN,-0.359448,51.470387,-0.359448,51.470387,31/12/2014 10:07:07,23291483,mariorgi,@MarcusInE17 I am regretting agreeing to go to...,Hounslow; London,sighs,0,2014-12-31 10:07:07
51,550232038377541632,NaN,-0.187663,51.510986,-0.187663,51.510986,31/12/2014 10:08:35,225221709,Willoseguera,#jardin de #gethsemani #jerusalem #israel @ Is...,Paddington; London,jardin gethsemani jerusalem israel,0,2014-12-31 10:08:35
66,550232515748036609,NaN,-0.032182,51.532207,-0.032182,51.532207,31/12/2014 10:10:29,376493068,b4dderman,@uglyschoolgirl #realrap,Hackney; London,realrap,0,2014-12-31 10:10:29
69,550232718190338048,NaN,-0.159895,51.504900,-0.159895,51.504902,31/12/2014 10:11:17,103569235,OWENSAVARY,Albert Memorial with the Royal Albert Hall in ...,London; England,morningwalk kensingtongardens london,0,2014-12-31 10:11:17
91,550208100809322496,NaN,-0.128779,51.501415,-0.128779,51.501415,31/12/2014 08:33:28,229253797,DavMcCann,On with my morning run current 09:23 /mile 1.8...,London; England,iSmoothRun,0,2014-12-31 08:33:28
102,550209463215726592,NaN,-0.050760,51.481304,-0.050760,51.481304,31/12/2014 08:38:53,214444295,mr_schmok,"@nicolafox21 ""a girl comes up to me and says w...",Lewisham; London,tiga bugatti deephouse,0,2014-12-31 08:38:53
107,550210132773437440,NaN,-0.097053,51.446068,-0.097053,51.446068,31/12/2014 08:41:32,6815542,Dandy_Glam,Fantastic to see #Vancouver make @FastCompany ...,London; England,Vancouver,0,2014-12-31 08:41:32
112,550210814331076609,NaN,-0.121246,51.506756,-0.121246,51.506756,31/12/2014 08:44:15,22045240,wuthecleaner,Last sunrise run of 2014 Last run of 2014 #nik...,London; England,nikerunning instarunners nevernotrunning makei...,0,2014-12-31 08:44:15
114,550211391240798209,NaN,-0.132844,51.491535,-0.132844,51.491535,31/12/2014 08:46:32,1632710958,GECFrost,@Edbowsher & I #ConsumingIssues @ShareRadioUK ...,London; England,ConsumingIssues,0,2014-12-31 08:46:32
117,550211968137965568,NaN,0.009861,51.566334,0.009861,51.566334,31/12/2014 08:48:50,539974671,Waqas_Gujjer,@ABKool: #TwitterAwards2014 tweet only for RT...,Walthamstow; London,TwitterAwards2014,0,2014-12-31 08:48:50
162,550218821974650881,NaN,-0.111424,51.452140,-0.111424,51.452141,31/12/2014 09:16:04,19542353,timjboddy,Good morning Herne Hill #london #commute #very...,Lambeth; London,london commute verycoldbus,0,2014-12-31 09:16:04
163,550219276117102593,NaN,-0.088914,51.513046,-0.088914,51.513046,31/12/2014 09:17:52,928204262,voilarebecca,Breakfast Meeting #happynewyear @ 1 Lombard St...,City of London; London,happynewyear,0,2014-12-31 09:17:52
172,550221173439873024,NaN,-0.081485,51.510815,-0.081485,51.510815,31/12/2014 09:25:25,360488800,gourmandizing,All hail to the party elite! more pre gaming;...,City of London; London,newyears,0,2014-12-31 09:25:25
174,550221660348235779,NaN,-0.008388,51.448000,-0.008388,51.448002,31/12/2014 09:27:21,166883856,Vera_Mills_45,#Beautiful #sky but the #sun isn't up yet time...,Lewisham; London,Beautiful sky sun,0,2014-12-31 09:27:21
181,550222539436597251,NaN,-0.083667,51.527000,-0.083667,51.527000,31/12/2014 09:30:50,461337764,NineTailsTattoo,done! #ninetailstattoo #japanesetattoo @ Nine ...,Hackney; London,ninetailstattoo japanesetattoo,0,2014-12-31 09:30:50
186,550222929309761536,NaN,-0.241990,51.498974,-0.241990,51.498974,31/12/2014 09:32:23,620942491,CaroMitica,Oigan lo del frío este ya empieZa a ser una br...,Hammersmith; London,Londres frio NewYearsEve,0,2014-12-31 09:32:23
197,550223850475372545,NaN,-0.066119,51.393112,-0.066119,51.393112,31/12/2014 09:36:03,112881225,SaxonJaxon,@GeorgeMardle1 @walsh_rob @reece_bird @AlansAv...,Croydon; London,alansavailable,0,2014-12-31 09:36:03
202,550224679521492992,NaN,-0.021544,51.488873,-0.021544,51.488873,31/12/2014 09:39:20,174382257,ben_jennings84,@peter_king123 space. #AndDon'tForgetAboutTheH...,Poplar; London,AndDon,0,2014-12-31 09:39:20
239,550229475494215684,NaN,-0.194193,51.484000,-0.194193,51.484001,31/12/2014 09:58:24,209250733,woletraining,Time to hit the one and only @chelseahcspa for...,Hammersmith; London,LetsGetIt2015 STAYHUNGRY London Chelsea,0,2014-12-31 09:58:24
247,550229837655597056,NaN,-0.091947,51.485000,-0.091947,51.485001,31/12/2014 09:59:50,183963712,Vitocab,@qatarairways @Airbus #2 #BestEverAircraf #Qui...,Camberwell; London,BestEverAircraf Quiet Room Space,0,2014-12-31 09:59:50
266,550232427348897792,NaN,-0.293364,51.416690,-0.293364,51.416691,31/12/2014 10:10:08,450719269,manda10110,@joemcelderry91 We'll have to do it again then...,Kingston upon Thames; London,EvolutionTour,0,2014-12-31 10:10:08
274,550232538783186944,NaN,-0.046209,51.669200,-0.046209,51.669201,31/12/2014 10:10:34,20033461,jamespowell363,#BackToTheFuture just starting ; there's the n...,Enfield; London,BackToTheFuture,0,2014-12-31 10:10:34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119430,550822192427331587,NaN,-0.139209,51.630016,-0.139209,51.630016,02/01/2015 01:13:39,45532450,LiamTommyB,@mermhart how can that be the end! What will I...,Barnet; London,sadtimes,0,2015-01-02 01:13:39
119439,550822604890972160,NaN,-0.079588,51.476917,-0.079588,51.476917,02/01/2015 01:15:17,361362873,MinxLDN,This is heartbreaking to read this http://t...,Camberwell; London,RIPLeelahAlcorn JusticeForLeelahAlcorn,0,2015-01-02 01:15:17
119440,550822612671426561,NaN,-0.223934,51.547855,-0.223934,51.547855,02/01/2015 01:15:19,517563139,DaveBalcombe,#Mariota to #Evans TOUCHDOWN! Ouch #Buccs will...,Brent; London,Mariota Evans Buccs FSUvsORE TampaBay,0,2015-01-02 01:15:19
119444,550823051060056064,NaN,-0.143413,51.523247,-0.143413,51.523247,02/01/2015 01:17:03,462000331,EmpireofGypsy,Lovely boys #boy#boys#fatherandson#love ...,Paddington; London,leonardo bebssi happiness gypsies gypsylife,0,2015-01-02 01:17:03
119477,550823067040354304,NaN,-0.050444,51.468952,-0.050444,51.468952,02/01/2015 01:17:07,107495822,aARONpARR,Yes; it is #vegan hair #flickshairwithsass,Lewisham; London,vegan flickshairwithsass,0,2015-01-02 01:17:07
119481,550823082987110400,NaN,0.025775,51.508198,0.025775,51.508198,02/01/2015 01:17:11,46235277,Akzy3012,NYE With My Mains #NYE #BestFriend #Ciroc #...,East Ham; London,NYE BestFriend Ciroc Brothers Converse ArtTeacher,0,2015-01-02 01:17:11
119484,550823548051128320,NaN,-0.123858,51.501083,-0.123858,51.501083,02/01/2015 01:19:02,189392117,hong2112,#bigben #london what kinda socery is this.. @...,London; England,bigben london,0,2015-01-02 01:19:02
119495,550825388054945792,NaN,-0.191535,51.599710,-0.191535,51.599709,02/01/2015 01:26:21,866130667,warmshelley,Like let's be honest here if Josh ever DMED yo...,Barnet; London,takeachillpill,0,2015-01-02 01:26:21
119550,550822278259556353,NaN,-0.188476,51.470684,-0.188476,51.470684,02/01/2015 01:13:59,234862014,hearn161,Horrible missed tackles but he's not bad is he...,Hammersmith; London,Mariota,0,2015-01-02 01:13:59
119562,550823603449905152,NaN,-0.138156,51.461773,-0.138156,51.461773,02/01/2015 01:19:15,25048202,DavidALaw,#london #underground #claphamcommon @ Clapham ...,Lambeth; London,london underground claphamcommon,0,2015-01-02 01:19:15
119569,550824489400143872,NaN,-0.055074,51.418686,-0.055074,51.418686,02/01/2015 01:22:46,239418601,isabelsanpedro,@emedeche #DESPIERTACHILE #DESPIERTACHILE,Bromley; London,DESPIERTACHILE DESPIERTACHILE,0,2015-01-02 01:22:46
119574,550824976321089538,NaN,-0.210515,51.544180,-0.210515,51.544182,02/01/2015 01:24:42,890609708,TanSaeed,@LaraBaldesarra Too late I guess but @2015_RWC...,Brent; London,CWC15 f12015,0,2015-01-02 01:24:42
119580,550822288766283776,NaN,-0.147066,51.514030,-0.147066,51.514030,02/01/2015 01:14:02,53898210,stephan_bosman,London in a glimps. #BigBen #thames #theEye #N...,London; England,BigBen thames theEye NewYears london firework ...,0,2015-01-02 01:14:02
119583,550822294004957184,NaN,-0.099547,51.512780,-0.099547,51.512779,02/01/2015 01:14:03,789165840,takiloves,#happynewyear #2015 #2014-2015 #love #friends ...,City of London; London,happynewyear love friends club10 stpauls hotel...,0,2015-01-02 01:14:03
119626,550824526213554176,NaN,-0.117733,51.469612,-0.117733,51.469612,02/01/2015 01:22:55,2171971734,BadGirlNeeNee,'You don't fuck me like you love me' immmmmmmm...,Lambeth; London,cheaters,0,2015-01-02 01:22:55
119642,550825508435681280,NaN,-0.223770,51.547913,-0.223770,51.547913,02/01/2015 01:26:49,517563139,DaveBalcombe,#FSU have quit. So did I! Night America #FSU...,Brent; London,FSU FSUvsORE RoseBowl,0,2015-01-02 01:26:49
119655,550823218140160001,NaN,0.195926,51.515903,0.195926,51.515903,02/01/2015 01:17:43,1157451438,Robbashbish,Happy New Year!!! #photographershour #foto #Ph...,Romford; London,photographershour foto Photographie POTD Pictu...,0,2015-01-02 01:17:43
119658,550823670025707520,NaN,-0.127117,51.501694,-0.127117,51.501694,02/01/2015 01:19:31,2835627385,SunriseSrUKJobs,#Healthcare #Job alert: REMINISCENCE CARE ASSI...,London; England,Healthcare Job Fleet,0,2015-01-02 01:19:31
119665,550824126353768448,NaN,-0.223858,51.547863,-0.223858,51.547863,02/01/2015 01:21:20,517563139,DaveBalcombe,The leadership #JameisWinston is showing tonig...,Brent; London,JameisWinston FSUvsORE,0,2015-01-02 01:21:20
119708,550824604550193152,NaN,-0.138156,51.461773,-0.138156,51.461773,02/01/2015 01:23:14,25048202,DavidALaw,#london #underground #claphamcommon #tfl @ Cla...,Lambeth; London,london underground claphamcommon tfl,0,2015-01-02 01:23:14
119734,550823258782978048,NaN,0.179639,51.572460,0.179639,51.572460,02/01/2015 01:17:53,270937550,Missives0fASub,Ok I am still playing. I missed it too much bu...,Romford; London,fmsphotoaday,0,2015-01-02 01:17:53
119751,550824192246292480,NaN,-0.104444,51.509724,-0.104444,51.509724,02/01/2015 01:21:35,116619520,SarieJBerrie,#London #NYE #fireworks!! #soamazing #NYE2015 ...,Camberwell; London,London NYE fireworks soamazing NYE2015 NewYear...,0,2015-01-02 01:21:35
119752,550824198684561410,NaN,-0.101496,51.472570,-0.101496,51.472569,02/01/2015 01:21:37,1074426740,Sweetyannam,@miss_zozahh: I don't get why ppl like my eye...,Lambeth; London,blueEyesPlease,0,2015-01-02 01:21:37
119776,550823302701539331,NaN,-0.124661,51.500755,-0.124661,51.500755,02/01/2015 01:18:03,2498767969,Fabio95G,Midnight in London #bigben #alarm #clo...,London; England,bigben alarm clock London LondonBrige westmist...,0,2015-01-02 01:18:03
119783,550824206678896642,NaN,-0.127500,51.507200,-0.127500,51.507198,02/01/2015 01:21:39,199160458,MayaBaheza,La primera del 2015 #2015 #london ...,London; England,london UK londoneye happiness 2014bestyearofmy...,0,2015-01-02 01:21:39
119794,550825612232101888,NaN,-0.124722,51.499170,-0.124722,51.499168,02/01/2015 01:27:14,24425374,LoversInEngland,Finding the #Underground empty; if this isn't ...,London; England,Underground happiness,0,2015-01-02 01:27:14
119811,550822859996938241,NaN,-0.059275,51.533302,-0.059275,51.533302,02/01/2015 01:16:18,64826769,AdamMadz,Side of stage for Nina Kraviz. So sick #n...,Poplar; London,nyd ninakraviz weconcur,0,2015-01-02 01:16:18
119815,550823342824226817,NaN,-0.046454,51.348484,-0.046454,51.348484,02/01/2015 01:18:13,1349233550,gilinskysthrob,#JoeysNewVideo PLEASE @joeykidney http://t.co/...,Croydon; London,JoeysNewVideo,0,2015-01-02 01:18:13
119830,550824675593699329,NaN,-0.224009,51.547813,-0.224009,51.547813,02/01/2015 01:23:31,517563139,DaveBalcombe,Sorry J man #FSUvsORE #RoseBowl http://t.co/fX...,Brent; London,FSUvsORE RoseBowl,0,2015-01-02 01:23:31
119832,550824687660703744,NaN,-0.137145,51.462560,-0.137145,51.462559,02/01/2015 01:23:34,497145453,VirtualJukebox,Something Good by Alt-J is #nowplaying in Biso...,Lambeth; London,nowplaying,0,2015-01-02 01:23:34

In [9]:
# Need to split on HASHTAGS as tweets have multiple hashtags

tweets_with_tags = london_tweets[~london_tweets.HASHTAGS.isnull()]

tweets_with_tags.groupby("HASHTAGS").agg("count")

# london_tweets.groupby("HASHTAGS").agg("count")

# g = df_agg["id"].groupby(level=0, group_keys=False)

# g.nlargest(3)

,id,Name,X,Y,LONGITUDE,LATITUDE,MESSAGEDATE,USERID,USERSCREENNAME,MESSAGETEXT,LOCATION,ISRETWEET
HASHTAGS,,,,,,,,,,,,
,3,0,3,3,3,3,3,3,3,3,3,3
,10,0,10,10,10,10,10,10,10,10,10,10
,31,0,31,31,31,31,31,31,31,31,31,31
,15,0,15,15,15,15,15,15,15,15,15,15
,8,0,8,8,8,8,8,8,8,8,8,8
,3,0,3,3,3,3,3,3,3,3,3,3
,2,0,2,2,2,2,2,2,2,2,2,2
,3,0,3,3,3,3,3,3,3,3,3,3
,1,0,1,1,1,1,1,1,1,1,1,1
,2,0,2,2,2,2,2,2,2,2,2,2
,6,0,6,6,6,6,6,6,6,6,6,6
,3,0,3,3,3,3,3,3,3,3,3,3
,1,0,1,1,1,1,1,1,1,1,1,1
,1,0,1,1,1,1,1,1,1,1,1,1
,1,0,1,1,1,1,1,1,1,1,1,1
,1,0,1,1,1,1,1,1,1,1,1,1
,4,0,4,4,4,4,4,4,4,4,4,4
,1,0,1,1,1,1,1,1,1,1,1,1
,1,0,1,1,1,1,1,1,1,1,1,1
,1,0,1,1,1,1,1,1,1,1,1,1
SPURS BLUES,1,0,1,1,1,1,1,1,1,1,1,1
_ _,1,0,1,1,1,1,1,1,1,1,1,1
36,1,0,1,1,1,1,1,1,1,1,1,1
_ _,1,0,1,1,1,1,1,1,1,1,1,1
7,1,0,1,1,1,1,1,1,1,1,1,1
boroughmarket London,1,0,1,1,1,1,1,1,1,1,1,1
new,1,0,1,1,1,1,1,1,1,1,1,1
newyear fireworks impressive london londoneyes,1,0,1,1,1,1,1,1,1,1,1,1
_ _,1,0,1,1,1,1,1,1,1,1,1,1
_1,1,0,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
youngthug lifestyle,1,0,1,1,1,1,1,1,1,1,1,1
youreworthit,1,0,1,1,1,1,1,1,1,1,1,1
youtoo drinkresponsibly,1,0,1,1,1,1,1,1,1,1,1,1
youtube edm electronicDanceMusic mattblack manchester podcast mix djset,1,0,1,1,1,1,1,1,1,1,1,1
youtubestreamingmoviesillegally,1,0,1,1,1,1,1,1,1,1,1,1
youwantsome,1,0,1,1,1,1,1,1,1,1,1,1
youwinsumyoudimsum,1,0,1,1,1,1,1,1,1,1,1,1
youwouldknow,1,0,1,1,1,1,1,1,1,1,1,1
yum,4,0,4,4,4,4,4,4,4,4,4,4
yum foodporn Selfridges,2,0,2,2,2,2,2,2,2,2,2,2
yum imadeit domesticgoddess,1,0,1,1,1,1,1,1,1,1,1,1
yummos,1,0,1,1,1,1,1,1,1,1,1,1
yummy livingthedream lobstertime,1,0,1,1,1,1,1,1,1,1,1,1
yummy londonfood afternoontea albion creamtea foodporn foodie,1,0,1,1,1,1,1,1,1,1,1,1
yumyum newyearseve,1,0,1,1,1,1,1,1,1,1,1,1
z bussituppp,1,0,1,1,1,1,1,1,1,1,1,1
zainab zainab Ahlebait Rehai,1,0,1,1,1,1,1,1,1,1,1,1
zarahome,1,0,1,1,1,1,1,1,1,1,1,1
zebra London UK zoo animals,1,0,1,1,1,1,1,1,1,1,1,1
zeilen sailing HappyNewYear,1,0,1,1,1,1,1,1,1,1,1,1
zen kyotogarden playingkoi hollandpark,1,0,1,1,1,1,1,1,1,1,1,1
zerodaystillTottenham,1,0,1,1,1,1,1,1,1,1,1,1
zigfriedvonunderbelly Hoxton London,1,0,1,1,1,1,1,1,1,1,1,1
zombiesquad,1,0,1,1,1,1,1,1,1,1,1,1
zoo london penguin,1,0,1,1,1,1,1,1,1,1,1,1
zoogey regressionsessions vauxhall nye myboys,1,0,1,1,1,1,1,1,1,1,1,1
zozfood zozlondon,1,0,1,1,1,1,1,1,1,1,1,1
zozlondon,1,0,1,1,1,1,1,1,1,1,1,1
zozlondon thisislondon,1,0,1,1,1,1,1,1,1,1,1,1
zzzzzzzzzzzzzzzzzzz,1,0,1,1,1,1,1,1,1,1,1,1