In [1]:
import datetime
import math
import nltk
from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk.stem.porter import *
import numpy as np
import pandas as pd
import re
from sklearn.feature_extraction.text import TfidfVectorizer
import string

In [2]:
tweets = pd.read_csv("./data/tweets_all.csv", encoding="latin1")

In [3]:
tweets.head()

,id,Name,X,Y,LONGITUDE,LATITUDE,MESSAGEDATE,USERID,USERSCREENNAME,MESSAGETEXT,LOCATION,HASHTAGS,ISRETWEET
0,550226818624942080,NaN,-0.262150,51.391407,-0.262150,51.391407,31/12/2014 09:47:50,113918054,12Elbestreet,@julieo25 Not yet got tics for Liverpool waiti...,Kingston upon Thames; London,NaN,0
1,550226823314178048,NaN,-0.149466,51.492560,-0.149466,51.492561,31/12/2014 09:47:52,465989904,alice_foster_95,So. Many. Accents #alicesadventureswithmegabus,London; England,alicesadventureswithmegabus,0
2,550226827944660992,NaN,-0.014891,51.354042,-0.014891,51.354042,31/12/2014 09:47:53,55872342,MissGee_Pee,If it doesn't make you happy by December 31st....,New Addington; London,NaN,0
3,550226837537058816,NaN,0.006698,51.532020,0.006698,51.532021,31/12/2014 09:47:55,147266450,vinita_ramtri,@westfieldstrat thanks; and are you open tomor...,Stratford; London,NaN,0
4,550227214227505152,NaN,0.214417,51.582535,0.214417,51.582535,31/12/2014 09:49:25,518928608,CallumGordon7,@WestHam_Central but he is,Romford; London,NaN,0

In [6]:
def parse_tweets(tweet):

    tweet = re.sub('@[^\s]+','',tweet).strip()
    tweet = re.sub('#[^\s]+','',tweet).strip()
    tweet = re.sub(r'https?:\/\/.*[\r\n]*','',tweet).strip()
    tweet = tweet.lower()
    tweet = " ".join(re.findall("[a-zA-Z]+", tweet))
    
    return tweet

In [7]:
tweets["parsed_tweets"] = tweets.MESSAGETEXT.apply(lambda tweet: parse_tweets(tweet))

In [26]:
searchfor = ['coy']

# tweets[tweets["parsed_tweets"].str.contains("|".join(searchfor),regex=True)]
tweets[tweets["parsed_tweets"].str.contains("coy", regex=False)]["parsed_tweets"]

321       morning fellow gooners love to all keep it rea...
7156                              happy new year hutch coyi
8636                              happy new year kenny coyi
11136                                      theo s back coyg
17153                              and u ur family dec coyi
22060     where were you when you were shit obviously be...
28442     we would all luv beat chelski but the rest of ...
29974     happy new year to you and your family trevor coyi
29982                     you too have a great evening coyr
30438     coyi forget sakho song and carroll west ham wo...
31501                                     yes mate win coyi
32924     happy everybody we are qpr happy new year see ...
34388     happy new year to you me good friend on here y...
35832     none of the coys army would expose their in a vin
44788     come on west ham let s give tony putis a poopy...
45167     such an amazing new years eve improvising the ...
48734     fond memories of poncing in shoreditch hse way...
48957                                                  coys
49187                                                  coys
49284                happy new year all have a goodun coyfg
49762                                       happy coys year
53381     you gone shy happy new year i leave you alone ...
53879                                                coyi k
61142     make this year even better and get more goals ...
61495                                   no worries got coys
62842                        big game today a must win coyg
63196     you can either elapse through another year coa...
64402            coyi happy new year points today thank you
66889     miles surely it would ve been easier to drive ...
67254     the challenge today spurs is show how much we ...
                                ...
102433                     wat a game glad i was there coys
105275                                 what a start to coys
105279                                                 coys
105598                      best match i have been too coys
105842    don t shout a lot but you gotta shout about th...
106373                             what a way to start coys
106576    hate being round house when spurs r playing ch...
106656                                                 coys
106837                                                 coys
107188    coys coys coys coys coys coys coys coys coys c...
107431                              you ve been kane d coys
107609                                                coyss
107833                                                 coys
107930                               yidddd armyyyyyyy coys
108282    disappointed we let them have if anything coys...
108395                                         we want coys
108662                                                 coys
108674                                   we re on fire coys
108759    chelski on toast leapfrogging the goons ha ha ...
108883                               coys put in a few more
109152         what the actually fuck is happening lol coys
109195                                                 coys
109223                                great for united coys
109315                  best day ever coys fuck off chelsea
109419                                                 coys
109987                                                 coys
111002                                            whey coys
111875    bish what ever happened to trevor morley you e...
112505    liverpool captain steven gerrard will leave th...
114865    love it best game iv been too coys happy new y...
Name: parsed_tweets, Length: 141, dtype: object